---
const questions = [
    ["Ile to 2+2", "4", "3", "2", "5.5"],
    ["Ile to 2+2*2", "6", "8", "4", "6.5"]
]
---

<main>
    <p id="questionField">Question</p>

    <div id="answers">
        <button id="0">A</button>
        <button id="1">B</button>
        <button id="2">C</button>
        <button id="3">D</button>
    </div>

</main>

<script define:vars={{ questions }}>

    // Workaround so questionList remains unchanged
    const questionList = JSON.stringify(questions);
    var questionsTemp = JSON.parse(questionList);

    [].slice.call(document.getElementById("answers").children)
        .forEach(e => e.addEventListener("click", generateQuestion));

    async function correct(e) {
        e.target.removeEventListener("click", correct)
        e.target.style.animation="click 0.5s linear";
        await new Promise(r => setTimeout(r, 500));
        e.target.style.animation="";
    }

    async function generateQuestion() {
        if (questionsTemp.length === 0) questionsTemp = JSON.parse(questionList);

        const index = Math.floor(Math.random() * questionsTemp.length);
        const correctAnswerIndex = Math.floor(Math.random() * 4);

        const selectedQuestion = questionsTemp[index];
        questionsTemp.splice(index, 1);

        document.getElementById("questionField").innerText = selectedQuestion[0];

        const correctAnswerElement = document.getElementById(correctAnswerIndex);
        correctAnswerElement.innerText = selectedQuestion[1];
        correctAnswerElement.addEventListener("click", correct);

        const answerButtons = Array.from(document.getElementById("answers").children);
        answerButtons.splice(correctAnswerIndex, 1);

        for (let i = 0; i < answerButtons.length; i++) {
            answerButtons[i].innerText = selectedQuestion[i + 2];
        }
    }

    generateQuestion();

        
</script>

<style>

#answers {
    display: inline-flex;
    gap: 4em;
}

#answers > button {
    position: relative;
}
#answers > button::before {
    content: 'A';
    position: absolute;
    left: 50%;
    z-index: -100;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 900;

    font-size: 1.4em;
    transform: translate(-50%, -14%);
}
#answers > button {
    background: none;
    border: none;
    font-size: 4em;
    color: var(--light);
    border: solid var(--dark);

    cursor: pointer;
}
#answers > button:nth-child(1)::before {content: 'A';}
#answers > button:nth-child(2)::before {content: 'B';}
#answers > button:nth-child(3)::before {content: 'C';}
#answers > button:nth-child(4)::before {content: 'D';}

@keyframes click {
    from {
        color: var(--light)
    }
    to {
        color: greenyellow;
    }
}

</style>