---
import data from './data.json';
const questions = data.test;
---

<main>
    <p id="questionField">Question</p>

    <div id="answersComponent">

        <div id="now">
            <button data-index="0">A</button>
            <button data-index="1">B</button>
            <button data-index="2">C</button>
            <button data-index="3">D</button>
        </div>

    </div>

    <p id="points">Points: 0</p>

</main>

<script define:vars={{ questions }}>

    let points = 0;

    // Workaround so questionList remains unchanged
    const questionList = JSON.stringify(questions);
    var questionsTemp = JSON.parse(questionList).sort(() => 0.5 - Math.random());

    Array.from(document.getElementById("now").children)
        .forEach(e => e.addEventListener("click", generateQuestion));

    function generateQuestion() {

        if (questionsTemp.length === 0) {
            questionsTemp = JSON.parse(questionList).sort(() => 0.5 - Math.random());
        }

        const questionData = questionsTemp[0]
        document.getElementById("questionField").innerText = questionData[0];
        
        const correctAnswerIndex = Math.floor(Math.random() * 4);
        const correctAnswerElement = document.querySelectorAll(`[data-index="${correctAnswerIndex}"]`)[0];
        correctAnswerElement.innerText = questionData[1];
        correctAnswerElement.addEventListener("click", correct);

        const answerButtons = Array.from(document.getElementById("now").children);
        answerButtons.splice(correctAnswerIndex, 1);

        for (let i = 0; i < answerButtons.length; i++) {
            answerButtons[i].innerText = questionData[i + 2];
        }

        questionsTemp.splice(0, 1);

    }

    function correct(e) {

        points++;
        document.getElementById("points").innerText = `Points: ${points}`
        e.target.removeEventListener("click", correct);
        
    }

    generateQuestion();

    // Keybinds (imagine you can change them in a nice ui)
    const keys = ['KeyA', 'KeyS', 'KeyK', 'KeyL'];

    document.addEventListener("keydown", function(event) {
        for (let i in keys) {
            if (event.code === keys[i]) {
                document.querySelectorAll(`[data-index="${i}"]`)[0].click();
            }
        }
    });

        
</script>

<style>

#old, #new {
    opacity: 0.1;
}

#answersComponent {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
#answersComponent > div {
    display: flex;
    justify-content: space-between;

    transition: 
        opacity 1s;
}

@media screen and (max-width: 1200px) {
    #answersComponent > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


#answersComponent > div > button {
    position: relative;
    cursor: pointer;
    
    background: none;
    padding: 0.2em 1em;
    border: none;

    color: var(--light);
    font-size: 4em;

    transition: 
        color 1s,
        transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#now > button:hover {
    color: var(--gray);
    transform: translateY(5px);
}


#answersComponent > div > button::before {
    content: 'A';
    position: absolute;
    z-index: -100;
    color: rgba(0, 0, 0, 0.1);
    font-weight: 900;

    font-size: 1.4em;
    transform: translate(-60%, -14%);
}

#answersComponent > div > button:nth-child(1)::before {content: 'A';}
#answersComponent > div > button:nth-child(2)::before {content: 'B';}
#answersComponent > div > button:nth-child(3)::before {content: 'C';}
#answersComponent > div > button:nth-child(4)::before {content: 'D';}

@keyframes click {
    from {
        color: var(--light)
    }
    to {
        color: greenyellow;
    }
}

#questionField {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 4em;
}

</style>

<!-- 

    credits (todo):

    - astro
    - google icons
    - jetbrains mono font
    - gh pages (hosting)


    - view source on github

 -->