---
const questions = [
    ["Ile to 2+2", "4", "3", "2", "5.5"],
    ["Ile to 2+2*2", "6", "8", "4", "6.5"]
]
---

<main>
    <p id="ques">Question</p>

    <div id="answers">
        <button id="0">A</button>
        <button id="1">B</button>
        <button id="2">C</button>
        <button id="3">D</button>
    </div>

</main>

<script define:vars={{ questions }}>

    const maxAnswers = 4; //A, B, C, D
    const questionList = JSON.stringify(questions);
    var questionsTemp = JSON.parse(questionList);

    let buttons_ = [].slice.call(document.getElementById("answers").children);
    for (const i in buttons_) {
        buttons_[i].addEventListener("click", generateQuestion)
    }

    function generateQuestion() {
        
        if (questionsTemp.length == 0) questionsTemp = JSON.parse(questionList);

        const index = Math.floor(Math.random() * questionsTemp.length)
        const correctAnswer = Math.floor(Math.random() * maxAnswers) // nie ściągaj jk 😉
        
        const selQuestion = questionsTemp[index];
        questionsTemp[index] = null;
        questionsTemp = questionsTemp.filter(n => n);

        // Insert the question and the correct answer
        document.getElementById("ques").innerText = selQuestion[0]
        document.getElementById(correctAnswer).innerText = selQuestion[1]

        // When player clicks the correct answer
        document.getElementById(correctAnswer).addEventListener("click", null);

        // Get all questions except the correct one
        let answers = document.getElementById("answers");
        let buttons = [].slice.call(answers.children);
        buttons[correctAnswer] = null;
        buttons = buttons.filter(item => item !== undefined && item !== null)

        for (let i in buttons) {
            let targetId = buttons[i].id;
            document.getElementById(targetId).innerText = selQuestion[parseInt(i)+2]
        }

    
    }

    generateQuestion()
        
</script>

<style>

footer {
    display: flex;
    
    padding: 1em;
}

#answers > button {
    position: relative;
}
#answers > button::before {
    content: 'A';
    position: absolute;
    left: 50%;
    z-index: -100;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 900;

    font-size: 1.4em;
    transform: translate(0, -14%);
}
#answers > button {
    background: none;
    border: none;
    font-size: 4em;
    color: var(--light);
    border: solid var(--dark);

    margin-right: 1em;
}
#answers > button::before:nth-child(0) {content: 'A';}
#answers > button::before:nth-child(1) {content: 'B';}
#answers > button::before:nth-child(2) {content: 'C';}
#answers > button::before:nth-child(3) {content: 'D';}

</style>